# Created by .ignore support plugin (hsz.mobi)

# Editor files
.idea
.vscode

# Exclude compiled files
src/modifiers/
localstorage/
/config/test.env
/src/meta.json
/index.js.map

# npm files
node_modules
package-lock.json
*.log
